<%-include('../cabecalho.ejs')%>
<h1>Adicionar Aluno</h1>
<form method="post">
    <div class="form-group">
        Nome: <input type="text" name="nome" id="nome"><br>
    </div>
   
     <button type="submit" class="btn">Salvar</button>
     <a href="/aluno/lst" class="btn cancelar">Cancelar</a>
  
</form>



<%-include('../rodape.ejs')%>